@charset "utf-8";
/* CSS Document */


/***************	BOLETA 		*************/
#contenedor{
	width: 840px;
	height: 1020px;
	border:#fff solid 1px;
}

.header{
	margin:0px;
	padding:0px;
	text-align: center;
}

.align-left{
	float: left;
	margin: 10px 50px 0px 40px; 
}

.align-right{
	float: rigt;
	margin: 10px 50px 0px 40px;
}

.negritas{
	font-weight: bold;
}

.escudos{
	width: 100px;
	height: 100px;
}

.borde{ 
	border:#000 solid 1px;
}

.centrar{
	text-align: center;
}

.sub-header{
	/*border:#000 solid 1px;*/
	padding: 0.6em;
	margin-top: 5px;
}

.plan{
	margin: 0px 80px 0px 80px;
	padding: 9px;
	width: 200px;
}

/*********************************/
.intro{
	font-size: 16px;
	margin: 5px;
}

.nomAlumno{
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 3px;
}

table.boleta td{
	border: 1px solid #000;	
}

/*********************************/
.footer-1{
	text-align: center;
	float: left;
	margin: 0px 40px 0px 40px;
}

.footer-2{
	text-align: center;
	float: left;
	margin: 0px 20px 0px 20px;
}

.footer-3{
	float: left;
	margin: 0px 200px 0px 200px;
	text-align: center;
}


/******************* 		KARDEX		 *******************/
#contenedorCardex{
	border: #fff solid 1px;
	width: 790px;
	height: 1300px;
}

#headerKardex{ }

.align-left-kardex{
	float: left;
	margin: 0px 30px 0px 30px; 
}

.escudoKardex{
	width: 110px;
	height: 80px;
}

.foto{
	width: 70px;
	height: 80px;
	border: #000 solid 1px;
}

.guia{
	color: #000;
	font-style: italic;
	font-weight: normal;
	font-size: 9px;
}

.derecha{ float: right; }
.izquierda{ float: left; }

.datos{
	font-weight: bold;
	font-size: 11px;
	
	
}

.escuela{
	border-bottom: #000 solid 1px;
	width: 600px;
	float: left;
	text-align: left;
}

.guiaEscuela{ margin-left: 50px; }

.clave {
	border-bottom: #000 solid 1px;
	border-left: #000 solid 1px;
	width: 175px;
	float: left;
	text-align: right;
}

.guiaClave{ margin-right: 50px; }

.municipio{
	margin: 0px 0px 0px 0px;
	border-bottom: #000 solid 1px;
	width: 290px;
	float: left;
	text-align: center;
	
}

.estado{
	margin: -5px 0px 0px 0px;
	border-bottom: #000 solid 1px;
	border-left: #000 solid 1px;
	border-right: #000 solid 1px;
	width: 200px;
	float: left;
	text-align: center;
}

.curp{
	margin: -5px 0px 0px 0px;
	border-bottom: #000 solid 1px;
	width: 298px;
	float: left;
	text-align: center;
}

.guiaMunicipio{
	margin: 0px 80px 0px 0px;
	float: left;
}

.guiaEntidad{
	margin: 0px 40px 0px 70px;
	float: left;
}

.guiaCurp{
	margin: 0px 0px 0px 60px;
	float: left;
}

.nombre{
	border-bottom: #000 solid 1px;
	float: left;
	margin-top: 3px;
	width: 790px;
	text-align: center;
}

.guiaNombre{
	float: left;
	margin: 0px 85px 0px 85px;
}

.licenciatura{
	font-size: 10px;
	float: left;
	border-bottom: #000 solid 1px;
	margin-top: 2px;
	text-align: center;
	width: 632px;
}

.matricula{
	float: left;
	border-bottom: #000 solid 1px;
	border-left: #000 solid 1px;
	margin-top: 1px;
	text-align: center;
	width: 155px;
}

.guiaLic{
	margin: 0px 250px 0px 250px;
	float: left;
}

.guiaMat{
	margin: 0px 10px 0px 10px;
	float: left;
}

.periodos{
	margin-top: 15px;
	float: left;
	font-size: 10px;
	text-align: center;
}

/************************************/
.semestre-1{
	float: left;
	font-size: 9px;
	margin-left: 0px;
}

.revisado{
	border: #000 solid 1px;
	float: right;
}

/*************** bordes ******************/
.bordes{
	border: #000 solid 1px;
}

.borde-derecho{
	border-right: #000 solid 1px;
}

.borde-izquierdo{
	border-left: #000 solid 1px;
}

.borde-superior{
	border-top: #000 solid 1px;
}

.borde-inferior{
	border-bottom: #000 solid 1px;
}
/**********************************************
				Sin Bordes
/**********************************************/
.sinBordes{
	border: #FFF solid 1px;
}

.sin-borde-derecho{
	border-right: #FFF solid 1px;
}

.sin-borde-izquierdo{
	border-left: #FFF solid 1px;
}

.sin-borde-superior{
	border-top: #FFF solid 1px;
}

.sin-borde-inferior{
	border-bottom: #FF solid 1px;
}