@charset "utf-8";
/* CSS Document */
body{ font-family: "Comic Sans MS", cursive; background: #fafafa;}/* 'Myriad Pro', sans-serif; */

.row 						{ margin:0 auto; width:1024px; overflow:hidden; }
.row .row 					{ margin:0 -16px 0 -16px; width:auto; display:inline-block; }

.grid_1						{ width:48px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_2 					{ width:128px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_3 					{ width:208px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_4 					{ width:288px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_5 					{ width:368px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }		
.grid_6 					{ width:448px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_7 					{ width:528px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_8 					{ width:608px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_9						{ width:688px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_10					{ width:768px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_11					{ width:1024px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
.grid_12					{ width:1024px; margin:0 16px 0 16px; overflow:hidden; float:left; display:inline; }
	
.margen_1					{ margin-left:96px; }
.margen_2					{ margin-left:176px; }
.margen_3 					{ margin-left:256px; }
.margen_4 					{ margin-left:336px; }
.margen_5 					{ margin-left:416px; }
.margen_6 					{ margin-left:496px; }
.margen_7 					{ margin-left:576px; }
.margen_8 					{ margin-left:656px; }
.margen_9					{ margin-left:736px; }
.margen_10					{ margin-left:816px; }
.margen_11					{ margin-left:896px; }

.margenSuperior{
		margin-top: 100px;
	}

input.placeholder{
  color: #a0a0a0;
}

.centrado { text-align: center; }

.negritas { font-weight: bold; }

.error { color:#F00; font-size: 12px;}

.icono { width: 25px; height: 25px; cursor: pointer; margin: 1px; border:0px; }

.search { font-size: 15px; color: #0a0a0a; padding: 0.1em; }

.lupa { width:16px; height:16px; }

table {
border-collapse : collapse;
}

.restaurar{ 
	padding: 0.5em;
	font-size: 14px;
	cursor: pointer; 
}
.restaurar:hover{ color: #00386e; text-decoration: underline; }
/********************************************************/
/******************** ESTLO DEL LOGIN *******************/
/********************************************************/

#contenedorLogin{
		width: 600px;
		/*border: #000 solid 1px;*/
	}
	
#iniciarSesion{
	background: #00386e;
	color: #e4e4e4;
	padding: 2em;
	font-size: 17px;
	line-height: 50px;
	}
	
#iniciarSesion input[type=text]{
		width: 200px;
	}

#iniciarSesion input[type=password]{
		width: 200px;
	}
	
#enviar{
	margin-top: 50px;
	}
	
#logo img {
		width: 250px;
		height: 250px;
		float: right;
		margin-top: 80px;
		margin-right: 50px;
	}
	
#enviar{
	width: 100px;
	height: 35px;
	background: #f0f0f0;
	font-size: 16px;
	}
	
#respuestaAjax{
	background: #F00;
	text-align:center;
	color: #fff;
	}
#respuesta{
	text-align: center;
	font-weight: bold;
	}

/******************************************************/
/*************** ESTILO ADMIN *************************/
/******************************************************/

/********** TABLA ALUMNOS *************************/
form{ line-height: 30px; }

#headerAdmin{ border: #fff solid 1px; }

#menu {
	background-color: #f1f1f1; 
	padding: 1em;; 
	box-shadow: inset 0px 2px 3px rgba(255,255,255,0.8), 1px 1px 3px rgba(245,245,245,0.2); 
	color: #cbcbcb;
}

#menu a{ color: #0a0a0a; text-decoration: none; margin: 10px; padding: 1em;}

#menu a:hover { text-decoration: underline; background: #fff;}

#contenido{ border: #fff solid 1px; background: #fafafa; }


/********* ESTILO A TABLAS *********************/
.table_cons { text-align: center; width: 100%; color: #00386e; font-size:13px; font-weight:normal;}
.table_cons th{ background: #00386e; color: #fff; }
.table_cons td{ border-bottom: #0a0a0a solid 1px; }
.table_cons tr:hover { background: #dddddd; }

/*
.tablee { text-align: center; width: 95%; color: #00386e; }
th{ background: #00386e; color: #fff; }
td{ border-bottom: #0a0a0a solid 1px; }
tr:hover { background: #dddddd; }
*/

/*********************** PAGINACION *************************************/
#actual {
	color:#993300;
	font-weight:600;
}

a {
	color:#0066CC;
	text-decoration:none;
}
a:hover {
	color:#000066;
}

.numPages {
	border:1px solid #999999;
	padding:0.3em 0.4em;
	margin: 5px;
}

.numPages:hover {
	background:#CCCCCC;
}

.paginacion{
	text-align: center;
}

/********************************************************************/

.espacio{
	padding:5px 10px 3px 0px;
}

.textf{
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	height:21px;
	font-family:"Comic Sans MS", cursive;
}

.textinf{
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	height:21px;
	font-family:"Comic Sans MS", cursive;
	
}

.mensajes{
	background:#62BBE8; 
	color:#FFF; 
	font-size:22px;
	text-align: center;
}

/*********************************** modificacion 17/01/13 *************************/
.contEstatus{
	float: left; 
	margin-right: 15px;
}

.contBusqueda{
	margin-top: 5px;
}

.mayusculas{ text-transform: uppercase; }

.etiquetaIcono{ font-size: 12px; color: #0a0a0a;  }

.cerrarSesion{ color: #f00; }

.enviar{
	background-image:-webkit-linear-gradient(#D8EBF9, #EAF4FC); /*degradar crhome*/
	background-image:-moz-linear-gradient(top, #D8EBF9, #EAF4FC); /*degradar firefox*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#D8EBF9', EndColorStr='#EAF4FC'); /*degradar IE*/
	 color:#2779AA; font-size:16px; font-weight:bold;
	 -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px;
	 border-color:#AED0EA; border-style:solid; border-width:thin;
	   padding-top:3px; padding-bottom:3px;
	   height:40px;
	   width:90px;	     
}
.enviar:hover{
		   cursor:pointer;
}

.fotografia_a{
	border: #e4e4e4 solid 8px;
	background-color: #fff;
	text-align: center;
	width: 100px;
	height: 100px;
	padding: 0.5em;
}

.imagenFoto{
	width: 100px;
	height: 100px;
	cursor: pointer;
	text-align: center;
}

