body{
	padding: 0;
}

#menu {
	background-color: #f1f1f1; 
	padding: 1em;; 
	box-shadow: inset 0px 2px 3px rgba(255,255,255,0.8), 1px 1px 3px rgba(245,245,245,0.2); 
	color: #cbcbcb;
}

#menu li{ list-style: none; display: inline;}

#menu a{ color: #0a0a0a; text-decoration: none; margin: 10px; padding: 1em;}

#menu a:hover { text-decoration: underline; background: #fff;}

.cerrarSesion{ font-color: #f00; }